.divider {
	z-index: 5;
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.divider svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 66px;
}

.shapeFill {
	fill: var(--white);
}
.blue {
	fill: var(--main-color);
}
.darkBlue {
	fill: var(--main-color-darkest);
}
/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
	.divider svg {
		width: calc(100% + 1.3px);
		height: 47px;
	}
}

/** For mobile devices **/
@media (max-width: 767px) {
	.divider svg {
		width: calc(100% + 1.3px);
		height: 33px;
	}
}
