.title {
	position: relative;
	font-size: 2.2rem;
	color: var(--white);
	z-index: 2;
}
.title::before {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	background-color: var(--white);
	width: 20%;
	content: '';
}

.blue {
	color: var(--main-color-darker);
}
.blue::before {
	background-color: var(--main-color-darker);
}

@media (min-width: 992px) {
	.title {
		font-size: 2.6rem;
	}
}
