.counter {
	margin-top: 5rem;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: wrap row;
	gap: 2rem;
}

@media (min-width: 992px) {
	.counter {
		margin-left: 2em;
	}
}
