.error {
	margin-top: 7vh;
	background-color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 80vh;
	gap: 5rem;
}
.text {
	text-align: center;
	max-width: 300px;
}
.text p {
	color: var(--main-color-darker);
	font-size: 3rem;
}
.text h2 {
	margin-top: 0.5em;
	font-size: 2rem;
	font-weight: 200;
}
.image img {
	width: 200px;
}
.btn {
	display: block;
	margin-top: 3rem;
}

@media (min-width: 576px) {
	.image img {
		width: 300px;
	}
}
@media (min-width: 992px) {
	.error {
		flex-direction: row-reverse;
		gap: 10rem;
	}
}
@media (min-width: 1200px) {
	.image img {
		width: 400px;
	}
	.text {
		max-width: 400px;
	}
	.text p {
		font-size: 3.5rem;
	}
	.text h2 {
		font-size: 3rem;
	}
}
