@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;700&display=swap');
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
:root {
	--main-color: #008590;
	--main-color-darker: #03626a;
	--main-color-darkest: #01454b;
	--main-color-lighter: #039fad;
	--main-color-lightest: #03b5c5;
	--purple: #061c60;
	--white: #fff;
	--second-theme-main-color: #4169e1;
	--main-cta: #1e47c2;
	--main-cta-darker: #0d309a;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 7vh;
	scrollbar-width: thin;
	scrollbar-color: var(--main-color-darker), var(--main-color);
}
html::-webkit-scrollbar {
	width: 0.5vw;
}
html::-webkit-scrollbar-thumb {
	background-color: #ffffff;
	border-radius: 100vw;
}
html::-webkit-scrollbar-thumb:hover {
	background-color: var(--main-color-lightest);
}
html::-webkit-scrollbar-track {
	background: var(--main-color-darker);
}

body {
	font-family: 'Sora', sans-serif;
}

a {
	text-decoration: none;
}
section {
	overflow: hidden;
}
