.content {
	color: var(--white);
	font-weight: 200;
	margin-top: 1rem;
	max-width: 500px;
	padding: 1em;
}

@media (min-width: 400px) {
	.content {
		font-size: 2.2rem;
	}
}
@media (min-width: 576px) {
	.content {
		font-size: 2.4rem;
	}
}
@media (min-width: 1200px) {
	.content {
		max-width: 700px;
		font-size: 3rem;
	}
}
