.box {
	background-color: var(--main-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40vh;
}
.box img {
	width: 250px;
}


@media(min-width: 992px) {
	.box{
		height: 100%;
		width: 40%;
	}
	.box img{
		width: 400px;
	}
}