.header {
	position: fixed;
	top: 0;
	height: 7vh;
	left: 0;
	width: 100%;
	background-color: var(--main-color-darker);
	z-index: 2000;
}

.header nav {
	margin: 0 auto;
	overflow-y: hidden;
	height: 100%;
	max-width: 1400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.burger {
	color: var(--white);
}
.themeIcon {
	background-color: var(--second-theme-main-color);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
	margin-right: 1em;
	border: 2px solid #fff;
}
.icons {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: 768px) {
	.burger {
		display: none;
	}

}
