.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 7vh;
	background-color: var(--main-color-darker);
}

.header nav {
	height: 100%;
	margin: 0 auto;
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.burger {
	color: var(--white);
}
