.offer {
	background-color: var(--main-color-lighter);
	text-align: center;
	padding: 4em 0;
}
.box {
	margin: 4rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10rem;
	max-width: 1200px;
}
